{% load static %}

<html>
    <body>
        <div class="settings" style="position: absolute; width: 50%;">
            <input class="formLabel" value="Frequency: {{ freq_MHz }} MHz"></input>
            <input type="range" min="7.6990" max="9.6990" class="slider" id="frequency" oninput="this.previousElementSibling.value = 'Frequency: ' + 10**(this.value - 6) + ' MHz'" value="{{ logFreq }}" step="0.005" onchange="update_fluxes()"></input>
            <input class="formLabel" value="Minimum visibile flux density: {{ minJy }} Jy"></input>
            <input type="range" min="-4" max="4" class="slider" id="minLogJy" oninput="this.previousElementSibling.value = 'Minimum visibile flux density: ' + 10**this.value + ' Jy'" value="{{ minLogJy }}" step="0.005" onchange="update_fluxes()"></input>
            <input class="formLabel" value="Maximum visibile flux density: {{ maxJy }} Jy"></input>
            <input type="range" min="-4" max="4" class="slider" id="maxLogJy" oninput="this.previousElementSibling.value = 'Maximum visibile flux density: ' + 10**this.value + ' Jy'" value="{{ maxLogJy }}" step="0.005" onchange="update_fluxes()"></input>
            <input class="formLabel" value="Show flashing by period"></input>
            <input type="checkbox" id="cbFlashing" onclick="toggle_flashing(this);"></input>
        </div>
        <div id="map_div">
            <svg class="map" id="map" width="500" height="500" viewBox="0 0 500 500" style="height: 100%; width: 100%; background-color: black;"></svg>
        </div>
    </body>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
    <script src="//unpkg.com/d3-geo-zoom"></script>
    <script>
        // tooltip div
        var tooltip = d3.select("body").append("div")
            .attr("id", "tooltip")
            .attr("class", "tooltip")
            .style("opacity", 0);

        var frequency = document.getElementById("frequency")
        var minLogJy = document.getElementById("minLogJy")
        var maxLogJy = document.getElementById("maxLogJy")

        // pulsar_spectra functions
        function flux_density(freq, d) {
            if (d.spectrum_model == "simple_power_law") {
                a = d.parameters.a;
                c = d.parameters.c;
                v0 = d.parameters.v0;
                S = c * (freq/v0)**a;
                return S;
            }
            else if (d.spectrum_model == "broken_power_law") {
                a1 = d.parameters.a1;
                a2 = d.parameters.a2;
                c = d.parameters.c;
                vb = d.parameters.vb;
                v0 = d.parameters.v0;
                if (freq < vb) return c * (freq/v0)**a1;
                return c * (freq/v0)**a2 * (vb/v0)**(a1-a2);
            }
            else if (d.spectrum_model == "double_turn_over_spectrum") {
                vc = d.parameters.vc;
                vpeak = d.parameters.vpeak;
                a = d.parameters.a;
                beta = d.parameters.beta;
                c = d.parameters.c;
                v0 = d.parameters.v0;

                if (freq < vc) {
                    S = c*(freq/v0)**a;
                    S *= (1 - freq/vc);
                    S *= Math.exp((a/beta) * (freq/vpeak)**(-beta))
                    return S;
                }

                return 0;
            }
            else if (d.spectrum_model == "high_frequency_cut_off_power_law") {
                a = d.parameters.a;
                c = d.parameters.c;
                v0 = d.parameters.v0;
                vc = d.parameters.vc;

                if (freq < vc) {
                    S = c*(freq/v0)**a;
                    S *= (1 - freq/vc);
                    return S;
                }

                return 0;
            }
            else if (d.spectrum_model == "log_parabolic_spectrum") {
                a = d.parameters.a;
                b = d.parameters.b;
                c = d.parameters.c;
                v0 = d.parameters.v0;

                x = Math.log10(freq/v0)
                S = 10**(a*x*x + b*x + c)
                return S;
            }
            else if (d.spectrum_model == "low_frequency_turn_over_power_law") {
                vc = d.parameters.vc;
                vpeak = d.parameters.vpeak;
                a = d.parameters.a;
                beta = d.parameters.beta;
                c = d.parameters.c;
                v0 = d.parameters.v0;

                S = c*(freq/v0)**a;
                S *= Math.exp((a/beta) * (freq/vpeak)**(-beta));
                return S;
            }

            return 0;
        }

        function brightness(d) {
            logJy = Math.log10(flux_density(10**frequency.value, d));
            d.flux_density = 10**logJy;
            return (logJy - minLogJy.value) / (maxLogJy.value - minLogJy.value);
        }

        data = [
            {% for d in data %}
            {
                "name": "{{ d.pulsar.name }}",
                "ra": {{ d.pulsar.ra }},
                "dec": {{ d.pulsar.dec }},
                "period": "{{ d.pulsar.period }}",
                "dm": "{{ d.pulsar.dm }}",
                "rm": "{{ d.pulsar.rm }}",
                "spectrum_model": "{{ d.pulsar.spectrum_model.pulsar_spectra_name }}",
                "parameters": {
                    {% for spectral_fit in d.spectral_fits %}
                    "{{ spectral_fit.parameter.name }}": {{ spectral_fit.value }},
                    {% endfor %}
                }
            },
            {% endfor %}
        ]

        var map_svg = d3.select("#map")
        var width = +map_svg.attr("width");
        var height = +map_svg.attr("height");
        const ra_ctr = 12;
        const dec_ctr = -7;

        function toggle_flashing(cb) {
            if (cb.checked) {
                console.log("on");
                data.forEach(function(d) {
                    svg_dot = document.getElementById(d.name)
                    svg_dot.style.animation = "flashing " + d.period + "s linear infinite";
                });
            }
            else {
                console.log("off");
                data.forEach(function(d) {
                    svg_dot = document.getElementById(d.name)
                    svg_dot.style.animation = "none";
                });
            }
        }

        var projection = d3.geoStereographic()
            .translate([width / 2, height / 2])
            .scale(width*50/30)
            .precision(0.1)
            .rotate([ra_ctr, dec_ctr])

        const path = d3.geoPath(projection);

        // Add coordinate grid
        let geoGenerator = d3.geoPath()
            .projection(projection)

        let graticuleGenerator = d3.geoGraticule().
            step([5,5]);
        let graticules = graticuleGenerator();

        coord_grid = map_svg.append('path')
            .attr("class", "graticules")
            .datum(graticules)
            .attr('d', path)
            .style("fill", "none")
            .attr("stroke", "#ccc");

        // Add pulsars
        var selection = map_svg.selectAll(".pulsar").data(data)

        let pulsars = selection.join(
            enter => enter.append("circle")
                .attr("id", function(d) { return d.name; })
                .attr("r", 2)
                .style("fill", "yellow")
                .on("mouseover", (event, d) => mouse_over_pulsar_func(event, d))
                .on("mouseout", (event, d) => mouse_out_pulsar_func(event, d)),
            update => update,
            exit => exit.remove()
        ).attr("cx", function(d) { return projection([-d.ra, d.dec])[0]; })
         .attr("cy", function(d) { return projection([-d.ra, d.dec])[1]; })

        // Define the div for the tooltip
        var tooltip = d3.select("body").append("div")
            .attr("id", "tooltip")
            .attr("class", "tooltip")
            .style("opacity", 0);

        var mouse_over_pulsar_func = function(event, d) {
            tooltip.transition()
                .duration(400)
                .style("opacity", 1);
            tooltip.html(function() {
                outputStr = "<b>" + d.name + "</b><br>" +
                            "Period: " + d.period + " s<br>" +
                            "DM: " + d.dm + " pc/cm³<br>" +
                            "RM: " + d.rm + " rad/m²<br>" +
                            "Spectrum model: " + d.spectrum_model + "<br>" +
                            "Flux density: " + (d.flux_density*1e3).toFixed(4) + " mJy @ " +
                            (10**(frequency.value-6)).toFixed(0) + " MHz";
                console.log(d.flux_density)
                return outputStr;
            })
                .style("left", (event.pageX + 20) + "px")
                .style("top", (event.pageY) + "px");
        }

        var mouse_out_pulsar_func = function(event, d) {
            tooltip.style("left", "-10000px")
                .style("top", "-10000px")
                .style("opacity", "0");
        }

        d3.geoZoom()
            .projection(projection)
            .onMove(render)
        (map_svg.node());

        function render() {
            coord_grid.attr('d', path);
            pulsars.attr("cx", function(d) { return projection([-d.ra, d.dec])[0]; })
                .attr("cy", function(d) { return projection([-d.ra, d.dec])[1]; })
        }

        // Update opacities based on values
        function update_fluxes() {
            pulsars.attr("opacity", (d) => brightness(d))
            //data.forEach(function(d) {
            //    document.getElementById(d.name).style.opacity = brightness(d);
            //    d.flux_density = flux_density(10**(frequency.value), d);
            //});
        }

        update_fluxes();

    </script>
<style>

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

div.tooltip {
    position: absolute;
    text-align: left;
    padding: 2px;
    background: beige;
}

.formLabel {
    background-color: black;
    color: white;
    border: 0px;
    opacity: 0.7;
    width: 100%;
}

@keyframes flashing {
    0% { opacity: 0;}
    50% { opacity: 1;}
    100% { opacity: 0;}
}

</style>

</html>
